// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: Roboto;

    background-color: #889599;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}